* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    min-width: 320px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  #FFFFFF;
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }

.container{
    padding-left: 20px;
    padding-right: 20px;
}

.gallery{
    margin-top: 20px;
    margin-bottom: 40px;
    list-style: none;
    display: grid;
    flex-direction: column;
    gap: 20px;
}

.movie-card{
    width: 280px;
    height: 443px;
    justify-content: center;
    box-sizing: content-box;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movie-card:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 300ms;
}

img {
    padding: 0;
    margin: 0;
    width: 280px;
    height: 402px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .movie-card__info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: left;
  text-align: left;
  vertical-align: top;
  width: 100%;
  height: 31px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16em;
  color: #FF6B08;  
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.movie-card__title{
    text-transform: uppercase;
    color: #000000; 
    line-height: 1.16em;
  }

  .movie-card__title::after{
    content:"\a";
    white-space: pre;
  }



@media screen and (min-width: 768px){
  .container{
    padding-left: 75px;
    padding-right: 75px;
  }
  
  .gallery{
    margin-top: 60px;
    margin-bottom: 50px;
    list-style: none;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .movie-card{
    width: 294px;
    height: 440px;
  }

  img {
    width: 294px;
    height: 398px;
  }

  .movie-card__info{
    height: 32px;
  }
}

@media screen and (min-width: 1280px){
  .container{
    padding-left: 71px;
    padding-right: 71px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
    
  .movie-card{
    width: 274px;
    height: 440px;
    border-radius: 5px;
  }

  img {
  width: 274px;
  height: 398px;
  }
}