@use '../utils/forward' as *;

//Edytować poniżej
a {
  text-decoration: none;
  border-bottom: 1px solid $tx-primary;
  color: $tx-primary;
  cursor: pointer;
}

.footer {
  width: 100%;
  color: #545454;
  text-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: $bg-footer;
  padding: 42px 36px 42px 44px;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 16px;
    line-height: 19px;
  }
}

.IconHeart {
  fill: $ic-accent;
  width: 14px;
  height: 12.88px;
}
