@use '../utils/forward' as *;

//Edytować poniżej
.HeaderMain {
  background-color: black;
}
.Navbar {
  width: 100%;
  height: 230px;
  background-color: rgb(0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/header-mobile-library-1@.jpg);
  padding-top: 41px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header-mobile-library-2@.jpg);
  }
  @media screen and (min-width: 768px) {
    height: 230px;
    background-size: cover;
    background-image: url(../images/header-tablet-library-1@.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header-tablet-library-2@.jpg);
    }
  }
  @media screen and (min-width: 1024px) {
    max-width: 1600px;
    height: 230px;
    margin: 0 auto;
    background-size: auto;
    background-image: url(../images/header-computer-library-1@.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header-computer-library-2@.jpg);
    }
  }
}

.NavbarContainer,
.NavbarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $tx-basic;
}

.NavbarContainer {
  max-width: 280px;
  margin: auto;
  @media screen and (min-width: 768px) {
    max-width: 618px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 882px;
  }
}

.NavbarBrandIcon {
  stroke: $ic-secondary;
  fill: transparent;
  // fill: $ic-secondary;
}

.NavbarBrand {
  text-decoration: none;
  border-bottom: none;
}

.NavbarRight {
  list-style: none;
  display: flex;
  // justify-content: flex-end;
}

.NavPageMyLibrary {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  color: $tx-basic;
  border-bottom: none;
  text-decoration: none;
}
.NavPageHome {
  border-bottom: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  color: $tx-basic;
  @media screen and (min-width: 320px) {
    margin-right: 39px;
  }

  &:hover {
    opacity: 0.6;
    transition: 0.3s;
  }
}

.PageMain {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  //na figmie jest "font-weight: 500;"
  //ale 400 wygląda bliżej tego co jest na figmie.
  line-height: 35px;
  letter-spacing: 0em;
  color: $bg-main;
}

#active-nav::after {
  position: absolute;
  display: block;
  width: 70px;
  height: 3px;
  background-color: $btn-accent;
  content: '';
}
#active-nav:hover:after {
  // width: 55px;
  background: $bg-main;
  transition: 0.8s;
}

.NavbarBrandTxt {
  padding-left: 12px;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.Header {
  &__Buttons {
    margin: 45px 0 41px;
    display: flex;
    justify-content: center;
    gap: 15px;
    min-width: 260px;
  }
  &__Button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    width: 136px;
    padding: 14px 38px 12px;
    font-size: 12px;
    border-radius: 5px;
    line-height: 16px;
    font-weight: 500;
    color: $tx-basic;
    transition: 0.3s ease;
    background-color: transparent;
    border: 1px solid $btn-basic;
    &:hover {
      background-color: $bg-footer;
      color: $tx-accent;
    }

    &--Active {
      color: $tx-basic;
      border: none;
      background-color: $btn-accent;
      &:hover {
        background-color: $btn-hover;
      }
    }
  }
}
