@use '../utils/forward' as *;

//Edytować poniżej


.Navbar{
    width: 100%;
    height: 230px;
    background-color: rgb(228, 228, 228);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/header-mobile-1@.jpg);
    padding-top: 5vh;
    
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header-mobile-2@.jpg);
  }
  @media screen and (min-width: 768px) {
    height: 219px;
    background-image: url(../images/header-tablet-1@.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header-tablet-2@.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 1600px;
    height: 216px;
    margin: 0 auto;
    background-image: url(../images/header-computer-1@.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header-computer-2@.jpg);
    }
  }
}

.NavbarContainer,
.NavbarHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: get(tx-basic);
}

.Search{
    display: flex;
    justify-content: center;
    padding-top: 41px;
}

.NavbarRight{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.NavPageMyLibrary{
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;

    @media screen and (min-width: 768px) {
        padding-left:40px;
  }
}
.NavPageHome{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;

}

.PageMain{
    
    text-decoration: none;
}

.SearchButton{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.SearchInput{
    border: none;
    background: transparent;
    width: 100%;
}

.SearchContainer{
    border-bottom: solid black 1px;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 320px) {
           width: 280px;
    }
    @media screen and (min-width: 768px) {
            width: 336px;
         }

}

    .SearchAlert{
        display: flex;
        justify-content: center;
        padding-top: 22px;
        color:get(tx-error);
        
        @media screen and (min-width: 320px) {
                padding-left: 20px;
                padding-right: 20px;
        }

    }
    
#active-nav::after {
    position: absolute;
    display: block;
    width: 45px;
    height: 4px;
    background-color: #2196f3;
    content: "";
  }

//   @media screen and (min-width: 320px) {
//     .search-container {
//        width: 280px;
//     }
//     .search-alert{
//         padding-left: 20px;
//         padding-right: 20px;
//     }
//     .nav-page-my-library{
//         padding: 0 20px;
//     }
//   }

//   @media screen and (min-width: 768px) {
//     .search-container {
//         width: 336px;
//      }
//   }

//   @media screen and (min-width: 1024px) {
//     .search-container {
//         width: 336;
//      }
//   }