@use '../utils/forward' as *;

//Edytować poniżej


//Skopiowałem do .container
// body {
//     min-width: 320px;
//     font-family: 'Roboto', sans-serif;
//     // background-color: color-get(bg-main);
//     background-color: #ffffff;
//     display:flex;
//     align-items: center;
//     justify-content: center;
//   }

.container{
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  // background-color: color-get(bg-main);
  background-color: #ffffff;
  display:flex;
  align-items: center;
  justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.gallery{
    margin-top: 20px;
    margin-bottom: 40px;
    list-style: none;
    display: grid;
    flex-direction: column;
    gap: 20px;
}

.movie-card{
    width: 280px;
    height: 443px;
    justify-content: center;
    box-sizing: content-box;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover{
        cursor: pointer;
        transform: scale(1.05);
        transition: 300ms;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

img {
    // width: 280px;
    height: 402px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .movie-card__info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: left;
  text-align: left;
  vertical-align: top;
  width: 100%;
  height: 31px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16em;
  // color: color-get(tx-accent);
  color: #FF6B08;  
}

.movie-card__title{
    text-transform: uppercase;
    // color: color-get(tx-primary);
    color: #000000; 
    line-height: 1.16em;
    
    &::after{
        content:"\a";
        white-space: pre;
    }
}


@media screen and (min-width: 768px){
  .container{
    padding-left: 75px;
    padding-right: 75px;
  }
  
  .gallery{
    margin-top: 60px;
    margin-bottom: 50px;
    list-style: none;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .movie-card{
    width: 294px;
    height: 440px;
  }

  img {
    height: 398px;
  }

  .movie-card__info{
    height: 32px;
  }
}

@media screen and (min-width: 1280px){
  .container{
    padding-left: 71px;
    padding-right: 71px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
    
  .movie-card{
    width: 274px;
    height: 440px;
  }

  img {
  height: 398px;
  }
}