// BACKGROUND
$bg-figma: #e5e5e5;
$bg-main: #ffffff;
$bg-footer: #f7f7f7;

// TEXT
$tx-basic: #ffffff;
$tx-primary: #000000;
$tx-secondary: #8c8c8c;
$tx-alternative: #545454;
$tx-accent: #ff6b08;
$tx-error: #ff001b;

// BUTTON
$btn-basic: #ffffff;
$btn-page: #f7f7f7;
$btn-accent: #ff6b01;
$btn-hover: #ca5100;
$btn-hover2: #a8a5a4;

// ICON
$ic-basic: #ffffff;
$ic-primary: #000000;
$ic-secondary: #818181;
$ic-accent: #ff6b08;

// BOX SHADOW
$shdw-button: rgba(255, 107, 1, 0.6);
