//Podstawowe resety
//NIE USUWAĆ
//NIE EDYTOWAĆ

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #ffffff;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
svg {
  outline: none;
}

img {
  display: block;
  width: 100%;
}
