<header class="header-main">
    <nav class="navbar">
        <div class="navbar-container">
            <!-- start navbar left side -->
            <div class="navbar-header">
            <a class="navbar-brand page-main" href="">    
                <svg class="navbar-brand-icon" width="44" height="44" viewBox="0 0 1 1">
                    <use href="images/icons.svg#icon-f"></use>
                </svg>
            </a>
                <a class="navbar-brand page-main" href="">Filmoteka</a>
            </div>
            <!-- end navbar left side -->
            
            <!-- start navbar right side -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    </li>
                    <li class="">
                        <a id="active-nav" class="nav-page-home" href="">Home</a>
                    </li>
                    <li class="">
                        <a class="nav-page-my-library" href="">My Library</a>
                    </li>
                </ul>
            </div>
            <!-- end navbar right side -->

        </div>
        <!-- start search -->
        <div class="search">
            <form class="search-container" action="">
              <input class="search-input" type="text" placeholder="Search..." name="search">
                <button class="search-button" type="submit">
                 <span class="search__svg">
                     <svg width='24' height="24">
                    <use href="images/icons.svg#icon-icon-send"></use>
                     </svg>
                 </span>
                </button>
            </form>
        </div>
        <span class="search-alert">Search result not successful. Enter the correct movie name and </span>
        <!-- end search -->
    </nav>
</header>