<main class="Container">
    <div class ="Gallery">
        <div class="MovieCard Watched">
            <img src="./images/movie1.jpg"
             srcset="./images/movie1@2x.jpg 2x, ./images/movie1@3x.jpg 3x"
             alt="Monster Hunter" loading="lazy" />
            <div class="MovieCardInfo">
              <p class="MovieCardData">
                <span class="MovieCardTitle">
                    Monster Hunter
                </span>
                Drama, Action | 2020
              </p>
            </div>
        </div>
        <div class="MovieCard InQueue">
            <img src="./images/movie2.jpg" 
            srcset="./images/movie2@2x.jpg 2x, ./images/movie2@3x.jpg 3x"
            alt="Little Women" loading="lazy" />
            <div class="MovieCardInfo">
              <p class="MovieCardData">
                <span class="MovieCardTitle">
                    Little Women
                </span>
                Drama | 2019
              </p>
            </div>
        </div>
        <div class="MovieCard InQueue">
            <img src="./images/movie3.jpg" 
            srcset="./images/movie3@2x.jpg 2x, ./images/movie3@3x.jpg 3x" 
            alt="Once Upon a Time... in Hollywood" loading="lazy" />
            <div class="MovieCardInfo">
              <p class="MovieCardData">
                <span class="MovieCardTitle">
                    Once Upon a Time... in Hollywood
                  </span>
                  Drama, Comedy | 2019
                </p>
            </div>
        </div>
        <div class="MovieCard Watched">
            <img src="./images/movie1.jpg"
             srcset="./images/movie1@2x.jpg 2x, ./images/movie1@3x.jpg 3x"
             alt="Monster Hunter" loading="lazy" />
             <div class="MovieCardInfo">
              <p class="MovieCardData">
                <span class="MovieCardTitle">
                    Monster Hunter
                </span>
                Drama, Action | 2020
              </p>
            </div>
        </div>
        <div class="MovieCard">
            <img src="./images/movie2.jpg" 
            srcset="./images/movie2@2x.jpg 2x, ./images/movie2@3x.jpg 3x"
            alt="Little Women" loading="lazy" />
            <div class="MovieCardInfo">
              <p class="MovieCardData">
                <span class="MovieCardTitle">
                    Little Women
                </span>
                Drama | 2019
              </p>
            </div>
        </div>
        <div class="MovieCard">
            <img src="./images/movie3.jpg" 
            srcset="./images/movie3@2x.jpg 2x, ./images/movie3@3x.jpg 3x" 
            alt="Once Upon a Time... in Hollywood" loading="lazy" />
            <div class="MovieCardInfo">
              <p class="MovieCardData">
                <span class="MovieCardTitle">
                    Once Upon a Time... in Hollywood
                  </span>
                  Drama, Comedy | 2019
                </p>
            </div>
        </div>              
    </div>
</main>