<main class="Container">
  <div class="dark-mode-btn dark dark-hidden">
    <svg height="30">
      <use href="../icons/icons2.svg#dark-mode-toggle-icon"></use>
    </svg>
  </div>
  <div class="dark-mode-btn light">
    <svg height="30">
      <use href="../icons/icons3.svg#light-mode-toggle-icon"></use>
    </svg>
  </div>

  <div class="Gallery"></div>
  <nav class="Pagination-Container">
    <button
      class="Pagination-Btn Pagination-Btn__Arrow"
      id="Prev-Button"
      title="Previous page"
      aria-label="Previous page"
    >
      &lt;
    </button>

    <div id="Pagination-Numbers"></div>

    <button
      class="Pagination-Btn Pagination-Btn__Arrow"
      id="Next-Button"
      title="Next page"
      aria-label="Next page"
    >
      &gt;
    </button>
  </nav>
</main>
