<main class="Container">
  <div class="Pagination-Loader hidden">LOADING MOVIES</div>
  <nav class="Pagination-Container">
    <button
      class="Pagination-Btn Pagination-Btn__Arrow"
      id="Prev-Button"
      title="Previous page"
      aria-label="Previous page"
    >
      &lt;
    </button>

    <div id="Pagination-Numbers"></div>

    <button
      class="Pagination-Btn Pagination-Btn__Arrow"
      id="Next-Button"
      title="Next page"
      aria-label="Next page"
    >
      &gt;
    </button>
  </nav>
  <div class="Gallery"></div>
</main>
