<section class="ModalFooter IsHidden">
      <button type="button" class="ModalFooter__Button ModalFooter__ButtonClose">
        <svg width="30" height="30" class="ModalFooter__Svg">
          <use href="../icons/iconsOld.svg#icon-close"></use>
        </svg>
      </button>
      <h1 class="ModalFooter__Header">★ starring ★</h1>
      <div class="ModalFooter__Containers">
      <div class="ModalFooter__LeftSide">
      <ul class="ModalFooter__List">
        <li class="ModalFooter__Item"><span class="ModalFooter__Title ModalFooter__NoMargin">mentor</span><span class="ModalFooter__IconFlex"><svg width="40" height="40" class="ModalFooter__Avatar">
          <use href="../icons/iconsOld.svg#icon-boy1"></use>
        </svg><a href="#" class="ModalFooter__LinkStyle" target="_blank">Ivan Sinabdeev</a></span></li>
        <li class="ModalFooter__Item"><span class="ModalFooter__Title">team leader</span><span class="ModalFooter__IconFlex"><svg width="40" height="40" class="ModalFooter__Avatar">
          <use href="../icons/iconsOld.svg#icon-boy3"></use>
        </svg><a href="https://github.com/Hubuuus" class="ModalFooter__LinkStyle" target="_blank">Hubert Dulas</a></span></li>
        <li class="ModalFooter__Item"><span class="ModalFooter__Title">scrum master</span><span class="ModalFooter__IconFlex"><svg width="40" height="40" class="ModalFooter__Avatar">
          <use href="../icons/iconsOld.svg#icon-boy3"></use>
        </svg><a href="https://github.com/michamas" class="ModalFooter__LinkStyle" target="_blank">Michał Masiulanis</a></span></li></ul></div>
        <div class="ModalFooter__RightSide">
        <ul class="ModalFooter__List">
        <li class="ModalFooter__Item"><span class="ModalFooter__Title">other developers</span><span class="ModalFooter__IconFlex"><svg width="40" height="40" class="ModalFooter__Avatar">
          <use href="../icons/iconsOld.svg#icon-boy4"></use>
        </svg><a href="https://github.com/skoczenadam" class="ModalFooter__LinkStyle" target="_blank">Adam Skoczeń</a></span></li>
        <li><span class="ModalFooter__IconFlex"><svg width="40" height="40" class="ModalFooter__Avatar">
          <use href="../icons/iconsOld.svg#icon-girl1"></use>
        </svg><a href="https://github.com/AgataWo" class="ModalFooter__LinkStyle" target="_blank">Agata Wójcik</a></span></li>
        <li><span class="ModalFooter__IconFlex"><svg width="40" height="40" class="ModalFooter__Avatar">
          <use href="../icons/iconsOld.svg#icon-boy5"></use>
        </svg><a href="#" class="ModalFooter__LinkStyle" target="_blank">Łukasz Niewczas</a></span></li>
        <li><span class="ModalFooter__IconFlex ModalFooter__Text"><svg width="40" height="40" class="ModalFooter__Avatar">
          <use href="../icons/iconsOld.svg#icon-girl2"></use>
        </svg><a href="https://github.com/PaulinaStachPluskowska" class="ModalFooter__LinkStyle" target="_blank">Paulina Stach-Pluskowska</a></span></li>
      </ul></div>
    </div>
    </section>
    <div class="OverlayFooter IsHidden"></div>
    <script src="/src/models/modal-footer.js"></script>