<span class="backdrop is-hidden" data-modal>
<div class="modal">
      <button type="button" class="modal__button" data-modal-close>
        <svg width="30" height="30" class="modal__close">
          <use href="../icons/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h1 class="modal__header">★ starring ★</h1>
      <div class="modal__nextto">
      <div class="modal__tablet-computer-left">
      <ul class="modal__list">
        <li class="modal__item"><span class="modal__title modal__no-margin">mentor</span><span class="modal__icon-flex"><svg width="40" height="40" class="modal__avatar">
          <use href="../icons/icons.svg#icon-boy1"></use>
        </svg>Ivan Sinabdeev</span></li>
        <li class="modal__item"><span class="modal__title">team leader</span><span class="modal__icon-flex"><svg width="40" height="40" class="modal__avatar">
          <use href="../icons/icons.svg#icon-boy3"></use>
        </svg>Hubert Dulas</span></li>
        <li class="modal__item"><span class="modal__title">scrum master</span><span class="modal__icon-flex"><svg width="40" height="40" class="modal__avatar">
          <use href="../icons/icons.svg#icon-boy3"></use>
        </svg>Michał Masiulanis</span></li></ul></div>
        <div class="modal__tablet-computer-rigth">
        <ul class="modal__list">
        <li class="modal__item"><span class="modal__title">other developers</span><span class="modal__icon-flex"><svg width="40" height="40" class="modal__avatar">
          <use href="../icons/icons.svg#icon-boy4"></use>
        </svg>Adam Skoczeń</span></li>
        <li><span class="modal__icon-flex"><svg width="40" height="40" class="modal__avatar">
          <use href="../icons/icons.svg#icon-girl1"></use>
        </svg>Agata Wójcik</span></li>
        <li><span class="modal__icon-flex"><svg width="40" height="40" class="modal__avatar">
          <use href="../icons/icons.svg#icon-boy5"></use>
        </svg>Łukasz Niewczas</span></li>
        <li><span class="modal__icon-flex modal__text"><svg width="40" height="40" class="modal__avatar">
          <use href="../icons/icons.svg#icon-girl2"></use>
        </svg>Paulina Stach-Pluskowska</span></li>
        <li><span class="modal__icon-flex"><svg width="40" height="40" class="modal__avatar">
          <use href="../icons/icons.svg#icon-girl3"></use>
        </svg>Agata Żybula</span></li>
      </ul></div>
    </div>
    </div>
    </span>
    <script src="/src/models/modal-footer.js"></script>