<!-- <div class="modal">
  <button type="button" class="modal__button">
    <svg width="30" height="30" class="modal__close">
      <a href="./icons/icons.svg#icon-close"></a>
    </svg>
  </button>
  <h1 class="modal__header">project by group 9</h1>
  
  <ul class="modal__list">
    <li class="modal__item">
      <span class="modal__title modal__no-margin">mentor</span
      ><span class="modal__icon-flex"
        ><svg width="40" height="40" class="modal__avatar">
          <a href="src/icons/icons.svg#icon-boy1"></a>
        </svg>
        >Ivan Sinabdeev</span
      >
    </li>
    <li class="modal__item">
      <span class="modal__title">team leader</span
      ><span class="modal__icon-flex"
        ><svg width="40" height="40" class="modal__avatar">
          <a href="src/icons/icons.svg#icon-boy2"></a></svg
        >HubDul</span
      >
    </li>
    <li class="modal__item">
      <span class="modal__title">scrum master</span
      ><span class="modal__icon-flex"
        ><svg width="40" height="40" class="modal__avatar">
          <ahref="src/icons/icons.svg#icon-boy3"></a></svg
        >michamas</span
      >
    </li>
    <li class="modal__item">
      <span class="modal__title">other developers</span
      ><span class="modal__icon-flex"
        ><svg width="40" height="40" class="modal__avatar">
          <a href="src/icons/icons.svg#icon-boy4"></a></svg
        >Adam S</span
      >
    </li>
    <li>
      <span class="modal__icon-flex"
        ><svg width="40" height="40" class="modal__avatar">
          <a href="src/icons/icons.svg#icon-girl1"></a></svg
        >Agata</span
      >
    </li>
    <li>
      <span class="modal__icon-flex"
        ><svg width="40" height="40" class="modal__avatar">
          <a href="src/icons/icons.svg#icon-boy5"></a></svg
        >Luke209</span
      >
    </li>
    <li>
      <span class="modal__icon-flex"
        ><svg width="40" height="40" class="modal__avatar">
          <a href="src/icons/icons.svg#icon-girl2"></a></svg
        >PaulinaSP</span
      >
    </li>
    <li>
      <span class="modal__icon-flex"
        ><svg width="40" height="40" class="modal__avatar">
          <a href="./icons/icons.svg#icon-girl3"></a></svg
        >agata.zybula</span
      >
    </li>
  </ul>
  <span class="modal__watching">thanks for watching!</span>
</div> -->
