<body>
  <button class="open">Klik</button>
  <div class="blur hidden"></div>
  <div class="Modal hidden">
    <button class="Modal__Close"><span class="Modal__Close-x">x</span></button>
    <div class="Modal__Image"></div>
    <div class="Modal__Text">
      <h1 class="Modal__MovieTitle">A FISTFUL OF LEAD</h1>
      <div class="Modal__Info">
        <div class="Modal__Properties">
          <p>Vote / Votes</p>
          <p class="Modal__Property">Popularity</p>
          <p class="Modal__Property">Original Title</p>
          <p class="Modal__Property">Genre</p>
        </div>
        <div class="Modal__Values">
          <p class="Modal__Votes">
            <span class="Modal__OneVote">7.3</span> /
            <span class="Modal__AllVotes">1260</span>
          </p>
          <p class="Modal__Property">100.2</p>
          <p class="Modal__Property">A FISTFUL OF LEAD</p>
          <p class="Modal__Property">Western</p>
        </div>
      </div>
      <h2 class="Modal__About">ABOUT</h2>
      <p class="Modal__Review">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <div class="Modal__Buttons">
        <button class="Modal__Button Modal__Button--Watched">
          ADD TO WATCHED
        </button>
        <button class="Modal__Button Modal__Button--Queue">ADD TO QUEUE</button>
      </div>
    </div>
  </div>
</body>
